<!DOCTYPE html>
<html lang="en">

<head>

    <title>Admin Page</title>
    <th:block th:replace="~{/compartilhado/header :: head}"></th:block>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

  <!-- Sidebar -->

  <div data-th-insert="~{/compartilhado/sidebar :: sidebarFragment}"></div>

  <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <div data-th-insert="~{/compartilhado/topbar :: topbarFragment}"></div>

                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Novo Administrador</h1>
                    <p class="mb-4">New User</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4" style="padding: 30px;">
                        <form method="POST" action="/administradores/criar" onsubmit="return confirm('Confirma o cadastro?')">
                            <div class="form-group">
                              <label for="nome" class="form-label">Nome</label>
                              <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o seu nome" required>
                            </div>
                            <div class="form-group">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o seu email" required>
                              </div>
                              <div class="form-group">
                                <label for="senha" class="form-label">Senha</label>
                                <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite a sua senha" required>
                              </div>
                              <div class="form-group">
                                <label for="observacao">Observação</label>
                                <textarea class="form-control" id="observacao" name="observacao" placeholder="Observação"></textarea>
                              </div>
                            <button type="submit" class="btn btn-primary">Enviar</button>
                          </form>
                        



                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <div data-th-insert="~{/compartilhado/footer :: footerFragment}"></div>

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
      <!-- Scroll to Top Button-->
 <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/demo/datatables-demo.js"></script>

</body>

</html>